.caja-verde{
	position: relative;
	z-index: 2;
	background-color: #45EFCE;
	color: #275E7C;
	padding: 3% 5%;
	border-radius: 20px;
	height: 300px;
	margin-bottom: 4%;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.caja-verde a{
	cursor: pointer;
	color:#275E7C;
}
.caja-verde a:hover{
	text-decoration: none;
}
.list-num{
	margin-top: 40px;
	width: 30%;
}
.list-num li{
	display: list-item;
	margin: 5px 0;
}

@media (max-width: 480px){
	.list-num{
		width: 100%;
	}
	.label-btn {
		width: 55%;
		display: block;
	}
}