html,body{
	height: 100%;
}
body{
	background-image: url(../img/bg-site.jpg);
	background-repeat: no-repeat;
	font-family: "Ubuntu", sans-serif;
	color: #fff;
	background-position: top center;
	background-size: cover;
	position: relative;
	min-height: 100%;
    height: auto;
}
.bg-w{
	background-color: #fff;
    position: absolute;
    bottom: 0;
	left: 0;
    height: 50%;
    width: 100%;
}
a,button{
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
	outline: none !important;
}
a:focus,button:focus,a:active,button:active,.btn-default:focus{
	border: none;
    outline: none !important;
}
.v-align{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
/*header*/
#menu-gral{
	text-align: center;
}
.menu{
	background-color: #607D8B;
    border-radius: 20px;
    padding: 2%;
    margin-top: 5%;
	margin-left: auto;
    margin-right: auto;
    float: none;
    display: inline-block;
}
.menu a{
	color: #45EFCE;
	font-weight: bold;
}
.menu a:hover{
	text-decoration: none;
	opacity: .8;
	color: #fff;
}
.menu li{
	margin: 0 20px;
}

.menu li a{
	padding: 2px 0px;
    border-bottom: 1px solid;
	border-bottom-color: transparent;
}
.menu li a:hover,.menu li.active a{
	background:none;
	color: #45EFCE;
	border-bottom-color:#45EFCE;
}
.navbar-header .navbar-toggle{
	color: #45EFCE;
	border: 1px solid;
}
.navbar-toggle .icon-bar{
	background-color: #45EFCE;
}
.logo-recarga{
	margin: 2% auto;
    width: 50%;
}
.logo-recarga~h2{
	margin:4% 0;
}
footer{
	position: relative;
    z-index: 1;
}
.container {
	width: 1100px;
}
.general{
	z-index: 2;
    position: relative;
}
.modal{
	color:#000;
}
.modal .close{
	color: #45EFCE;
	font-size: 45px;
	line-height: 10px;
	opacity: 1;
}
.modal .modal-content{
	border:4px solid #45EFCE;
}
@media (max-width: 1200px){
	.container {
		width: 900px;
	}
}
@media (max-width: 480px){
	.container {
		width: 100%;
	}
	.menu li  {
	    margin: 0px 5px;
	}
	.logo-recarga~h2 {
		font-size: 1.5em;
	}
}
/*menu desplegable */
.txt-center{
	text-align: center;
}

/* Lightbox */
.wom{
	background-image:url(../img/wom-promo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	overflow: hidden;
}
.wom .modal-body{
	min-height: 550px;
}
.wom .modal-body .bg-w{
	height: 60px;
	text-align: center;
}
.wom .modal-body .bg-w img{
	width: 50%;
	margin-top: 5px;
}
#modal-pre .title img{
	width: 40%;
}
#modal-pre .list-group{
	margin-left: 60px;
    width: 60%;
}
#modal-pre .list-group .list-group-item{
	border: none;
	color: #275E7C;
	font-weight: bold;
}
#modal-pre .list-group .list-group-item.active{
	border-radius: 20px;
	background-color: #EDEDED;
}
.modal p.titulo{
	color: #275E7C;
	font-weight: bold;
}
.modal small{
	color: #275E7C;
	text-align: center;
	margin: 10px auto;
    display: block;
}
.modal .result{
	width: 80%;
    margin: 40px auto 10px auto;
	font-size: 11px;
}
.modal .result .titulo{
	text-align: center;
}
.modal .btn-red{
	display: block;
	background-color: #D34A44;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
    margin: 5px auto;
    font-size: 20px;
}
.recarga-form .btn-red{
	margin-top: 40px;
}
.modal .btn-blue{	
	display: inline-block;
	background-color: #275E7C;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
    margin: 5px auto;
}
.modal .result .btn-blue{
	margin-top: 10px;
}
.popover{
	border: none !important;
	background-color: #D34A44;
	max-width: 500px;
}
.popover-content{
	color: #fff;
	background-color: #D34A44;
}
.popover.right>.arrow:after {
    border-right-color: #D34A44;
}
.popover.bottom>.arrow:after {
    border-bottom-color: #D34A44;
}