
.icon-wifi:before { content: '\e800'; } /* '' */
.icon-tv:before { content: '\e801'; } /* '' */
.icon-celular:before { content: '\e802'; } /* '' */
.icon-fono:before { content: '\e803'; } /* '' */
.icon-flechas:before { content: '\e804'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */