
/*formulario recarga tab*/
.nav-tabs {
    border-bottom:none;
}
.box-uno{
	height: 300px;
	padding-top: 4%;
    padding-left: 5%;
	border-radius: 30px 30px;
}
.nav-tabs>li>a {
    border-radius: 30px 30px 0 0;
	border:none;
	min-width: 250px;
	height: 65px;
	-webkit-box-shadow: 0 -10px 10px 0 rgba(0,0,0,0.5);
	box-shadow: 0 -10px 10px 0 rgba(0,0,0,0.5);
}
.nav-tabs>li>a h4 {
	margin: 0;
	position: relative;
}
.nav-tabs>li>a h4 span{
	color: #fff;
}
.nav-tabs>li.active{
    z-index: 2;
}
.color-movil, #movil,a.color-movil:hover,.nav-tabs>li a.color-movil:focus,.nav-tabs>li.active a.color-movil {
	background-color: #4498EF;
	border:none;
}
.color-movil h4 i[class^="icon-"]{
	font-size: 39px;
	color:#204F63;
}
.color-tv, #tv,.nav-tabs>li a.color-tv:hover,.nav-tabs>li a.color-tv:focus,.nav-tabs>li.active a.color-tv{
	background-color: #44C793;
	border:none;
}
.color-tv h4 i[class^="icon-"]{
	font-size: 44px;
	color:#307A56;
}
.color-fija, #fija,.nav-tabs>li a.color-fija:hover,.nav-tabs>li a.color-fija:focus,.nav-tabs>li.active a.color-fija{
	background-color: #F7B84E;
	border:none;
}
.color-fija h4 i[class^="icon-"]{
	font-size: 45px;
	color:#A37D47;
}
.color-banda, #banda,.nav-tabs>li a.color-banda:hover,.nav-tabs>li a.color-banda:focus,.nav-tabs>li.active a.color-banda {
	background-color: #F1745B;
	border:none;
}
.color-banda h4 i[class^="icon-"]{
	font-size: 41px;
	color:#95463F;
}
.tab-content{
    z-index: 1;
    position: relative;	
}
.tab-pane{
	-webkit-border-radius: 0 30px 30px 30px;
	border-radius: 0 30px 30px 30px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
/*
.nav-tabs>li.active {
    color: #fff;
    cursor: default;
    background-color: inherit;
    border: none;
    border-bottom-color: none;
}*/
/* formulario recarga opciones*/
p.titulo{
	margin-top: 0;
	font-weight: 400;
	font-size: 20px;
}
.logos img,.logos img:focus{
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(grayscale.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
}
.logos:hover,.logos.active,.logos:focus,.logos:active{
	background-color: #fff !important;
	border:none;
	text-decoration: none;
}
.logos:hover img,.logos.active img{
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: none;
    -webkit-filter: grayscale(0);
}
.logos.active img{
	transform: scale(1.1);
}
#movil .logos, #banda .logos{
	width: 7%;
}
#tv .logos{
	width: 11%;
}
#fija .logos{
	width: 9%;
}
.btn-default, .btn-default:hover{
	background-color: #fff;
	border-color: #fff;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
	border-radius:25px 0  0 25px;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
	border-radius:0 25px 25px 0;
} 
.inputs .form-control{
	border-radius: 20px;
	text-align: center;
}
.recarga{
	background-color: #275E7C;
	border-radius: 20px;
	color: #fff;
	font-weight: 700;
	border-color: #275E7C;
	text-transform: uppercase;
	padding: 6px 20px;
	border:none;
}
.recarga:hover{
	color: #45EFCE;
	background-color: #275E7C;
	border:none;
}
.mPago{
	color: #324458;
	font-weight: 700;
	font-size: 17px;
	margin: 2% 0 0 0;
}
.webpay{
	width: 12%;
	margin: 0 auto;
}
.inputs{
	margin-top: 30px;
}
.inputs .form-group{
	position: relative;
}
.inputs .form-group .mensajeuno{
	position: absolute;
    left: 20%;
    background-color: #D34A44;
    padding: 6px 12px;
    border-radius: 20px;
	min-width: 155px;
    text-align: center;
	margin-top: 10px;
	display: none;
	z-index: 2;
}
.inputs .form-group .mensajeuno:before{
	content: '';
	color: #D34A44;
	position: absolute;
	display: block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 15px dashed;
    border-bottom: 15px solid\9;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    margin: -20px auto;
    left: 17px;
}
.modal-open .modal{
	top: 20%;
}
.box-uno .select{
	background-color: #fff;
    width: 80%;
    color: #474747;
    border-radius: 15px;
    padding: 6px 12px;
    margin-top: -70px;
    margin-bottom: 10px;
	font-weight: bold;
    font-size: 20px;
	text-align: center;
	min-height: 40px;
}
.box-uno .select .img{
	width: 35px;
    vertical-align: middle;
    display: block;
    float: left;
}
.box-uno .select .caret{
	float: right;
    margin-top: 10px;
}
/*tab resposive*/
@media (max-width: 1200px){
	.nav-tabs>li>a {
		min-width: 205px;
	}
}
@media (max-width: 480px){
	.nav-tabs>li>a {
		min-width: 24%;
		height: 50px;
	}
	.nav-tabs>li>a h4 span {
		display: none;
	}
	.nav-tabs>li>a h4 i[class^="icon-"]{
		font-size: 1.5em;
	}
	.wom{
		background-size: contain;
	}
	.wom .modal-body {
    	min-height: 350px;
	}
	.box-uno{
		height: 480px;
	}
	.webpay {
    	width: 50%;
	}
	.mPago{
		margin-top: 20px;
	}
	.box-uno .logos {
		width: 100% !important;
	}
	.title-comp{
		margin-bottom: 90px;
	}
	.box-uno .btn-group-vertical{
		position: absolute;
		z-index: 2;
		height: 300px;
		overflow: auto;
		border-radius: 15px;
		width: 27%;
	}
	.modal p.titulo {
		font-size: 1em;
	}
	.modal .result {
    	width: 100%;
	}
	#modal-pre .list-group {
    	margin-left: 30px;
    	width: 80%;
	}
}